<%- include("header") -%>
    <div class="container">
      <d
      iv class="box box-title">
        <h1 class="title">It's <%= listTitle %>!</h1>
      </d>

      <div class="box">
        <% for(let i = 0; i < newItems.length; i++){%>
        <div class="item">
          <input type="checkbox" />
          <p><%= newItems[i] %></p>
        </div>
        <% } %>
        <form class="form-new-item item" method="post" action="/">
          <input
            type="text"
            name="newItems"
            id=""
            class="input-new-item"
            placeholder="Add New Item"
            autocomplete="off"
          />
          <button type="submit" name="list" class="btn-send" value=<%= listTitle %>>+</button>
        </form>
      </div>
      <!-- end box -->
<%- include("footer") -%>