<%- include("header") -%>
    <div class="container">
      <div class="box box-title">
        <h1 class="title"><%= listTitle %></h1>
      </div>

      <div class="box">
        <% for(let i = 0; i < newItem.length; i++) { %>
        <div class="item">
          <input type="checkbox" />
          <p><%= newItem[i] %></p>
        </div>
        <% } %>
        <form class="form-new-item item" method="post" action="/">
          <input
            type="text"
            name="newItem"
            id=""
            class="input-new-item"
            placeholder="Add New Item"
            autocomplete="off"
          />
          <button type="submit" name="list" class="btn-send" value=<%= listTitle %>>
            +
          </button>
        </form>
      </div>
      <!-- end box -->
  <%- include("footer") -%>