    <%- include("header") -%>

    <section class="section-card">
      <div class="title col-sm-3">
        <h4><%= currentDay %></h4>
      </div>
      <div class="title col-sm-4">
        <h1>To Do List: <%= listTitle %></h1>
      </div>

      <div class="card-item d-flex justify-content-center">
        <div class="card col-lg-6">
          <div class="card-body">
            <div class="row list-item">

              <% newItems.forEach(function(item){ %>
                <div class="col-lg-12">
                  <form method="post" action="/delete">
                    <input class="form-check-input" type="checkbox" name="checkDel" onChange="this.form.submit()" value="<%= item._id %>" />
                    <label class="form-check-label" for="flexCheckDefault">
                      <%= item.name %>
                    </label>
                    <input type="hidden" name="listName" value=<%= listTitle %>></input>
                  </form>
                </div>
              <% }); %>

              <% for(let i = 0; i < newItems.length; i++) { %>

              <br />
              <% } %>
            </div>

            <form method="post" action="/" class="form-item">
              <input
                type="text"
                class="input-text-new-item"
                placeholder="Add New Item"
                aria-label="Add To do on list"
                name="newItems"
                autocomplete="off"
              />
              <button type="submit" class="btn btn-to-do-list" 
              name="index" value=<%= listTitle %>>+</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <%- include("footer") -%>
