    <%- include("partials/header") %>
    <!-- Header -->
    <div class="col-lg-10 btn-compose">
        <a href="/compose" class="btn btn-primary">Compose</a>
    </div>
   
    <div class="col-lg-10">
    <h1>First Content</h1>
    <p><%= startingContent %></p>
    </div>
    <% for(let i = 1; i < newArticle.length; i++ ) { %>
    <div class="col-lg-10">
    <br />
    <h1><%= newTitle[i] %></h1>
    <p><%= newArticle[i] %></p>
    </div>
    <% } %>

</div>
  <!-- footer -->
  <%-include("partials/footer") %>
